* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: url(img/1366_2000.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
}
h2{
    text-align: center;
    color: #1683e2;
}
.cait{
  background-image:url(img/cait.png);
  background-position: center;
  height: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.Aphelios{
  background-image:url(img/Aphelios.png);
  background-position: center;
  height: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.ashe{
  background-image:url(img/Ashe.png);
  background-position: center;
  height: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.draven{
  background-image:url(img/Draven.png);
  background-position: center;
  height: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.ezreal{
  background-image:url(img/Ezreal.png);
  background-position: center;
  height: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
