* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #02310f;
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    margin: 0 100px;
    max-width: inherit;
}

h2{
    text-align: center;
    color: #ebf1f7;
}
h3{
    text-align: center;
    color: #d6810f;
}
/* ------------ADCS-------------- */
.cait{
  background-image:url(img/cait.png);
  background-position: center;
  height: 100px;
  width: 100px;
}
.Aphelios{
  background-image:url(img/Aphelios.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.ashe{
  background-image:url(img/Ashe.png);
  background-position: center;
  height: 100px;
  padding: 15px 32px;
  width: 100px;

}
.draven{
  background-image:url(img/Draven.png);
  background-position: center;
  width: 100px;
  height: 100px;
  padding: 15px 32px;
}
.ezreal{
  background-image:url(img/Ezreal.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.twitch{
  background-image:url(img/Twitch.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.yasuo{
  background-image:url(img/Yasuo.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.xayah{
  background-image:url(img/Xayah.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.vayne{
  background-image:url(img/Vayne.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.varus{
  background-image:url(img/Varus.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.tristana{
  background-image:url(img/Tristana.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.jhin{
  background-image:url(img/Jhin.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.jinx{
  background-image:url(img/Jinx.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.kaisa{
  background-image:url(img/Kaisa.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.kalista{
  background-image:url(img/Kalista.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.miss{
  background-image:url(img/MissFortune.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.kog{
  background-image:url(img/KogMaw.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.lucian{
  background-image:url(img/Lucian.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}
.sivir{
  background-image:url(img/Sivir.png);
  background-position: center;
  height: 100px;
  width: 100px;
  padding: 15px 32px;
}

