* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-image: linear-gradient(rgba(34, 33, 33, 0.7),rgba(0, 0, 0, 0.7)),url(img/fondos/cait.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.row {
    margin: 0 100px;
    max-width: inherit;
}
/* table */
table, th, td {
  border: 2px solid #959595;
  margin-top: 20px;
  margin-left:auto; 
  margin-right:auto;
}
th,td{
    width: 50px;
    color: #fa930a;
}
.counters{
    margin-top: 50px;
    text-align: center;
}
h3{
    text-align: center;
    color: azure;
    margin-top: 40px;
    margin-bottom: 40px;
}
.items img{
    width: auto;
    height: auto;
    margin-left: 100px;
}
.items{
    text-align: center;
}
.runas{
    color: antiquewhite;
    display: block;
}
.runas img{
    height: 60px;
    width: 60px;
    display: block;
}
