* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #02310f;
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    margin: 0 100px;
    max-width: inherit;
}
.img-cait{
    margin-top: 100px;
}
/* table */
table, th, td {
  border: 1px solid black;
}
th,td{
    width: 50px;
}